#chat-main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: 1fr 48px / 264px 1fr;
}

#conversations {
  padding: 4px;
  grid-area: 1 / 1 / 2 / 2;
  overflow-y: auto;
  background-color: var(--slt-grey);
  border: 2px solid var(--slt-grey);
}

#message-area {
  padding: 4px;
  grid-area: 1 / 2 / 3 / 3;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#chat-box-area {
  padding: 4px;
  width: 100%;
  max-height: 50%;
}

#chat-box {
  max-height: 100%;
  overflow:auto;
}

#main-toolbar {
  grid-area: 2 / 1 / 3 / 2;
}

.visual-test {
  /* border: 1px dashed var(--turq); */
}

.contact-item {
  background-color: var(--slt-grey);
  border-bottom: 1px solid var(--turq);
  padding: 16px 8px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.1s var(--ease-out);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: var(--contact-item-height);
}

.contact-item.pending {
  background-color: rgba(var(--d-turq-s), 0.3);
}

.contact-item:hover {
  background-color: rgba(var(--turq-s), 0.3);
}

.contact-item.pending-accept {
  background-color: rgba(var(--turq-s), 0.3);
  border: 1px solid var(--turq);
}

.contact-item:hover::after {
  content: "···";
  position: absolute;
  top: 0;
  right: 12px;
  bottom: 0;
  display: flex;
  align-items: center;
  color: var(--d-turq);
  font-size: 32px;
  transform: translate3d(0, -4px, 0);
  font-family: "Segoe UI", Arial;
}

.contact-item .title {
  font-size: 16px;
}

.contact-item .info {
  margin-left: 8px;
  color: var(--grey);
}

.contact-item .underline {
  position: absolute;
  height: 0;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: var(--turq);
  transition: all 0.1s var(--ease-out);
}

.contact-item.waiting .underline {
  height: 0;
  transition: height 0.1s var(--ease-out);
}

message {
  display: block;
  padding: 8px;
  margin: 4px;
  position: relative;
}

message .date {
  color: var(--grey);
  height: 0;
  overflow: hidden;
  position: absolute;
  left: 4px;
  top: 4px;
}

message .content span.title {
  font-weight: bold;
  padding: 4px 6px;
  border-radius: 1em;
}

message.from-source .content span.title {
  background-color: var(--slt-grey);
}

message.from-target .content span.title{
  background-color: var(--turq);
  color: var(--white);
}

.message-history {
  padding: 4px;
  width: 100%;
  flex-grow: 1;
}

.message-history > .title {
  font-size: 16px;
  height: var(--contact-item-height);
  position: relative;
  display: flex;
  align-items: center;
  padding: 8px;
}

.message-history > .title::after {
  content: '';
  display: block;
  position: absolute;
  height: 16px;
  bottom: 1px;
  right: 0;
  left: 0;
  pointer-events: none;
  background: linear-gradient(transparent 0%, rgba(var(--d-turq-s), 0.2) 100%)
}
