#main-container {
  width: 100%;
  background-color: var(--white);
  color: var(--white);
  text-align: center;
  height: 224px;
  font-size: 24px;
  font-weight: 100;
  flex-direction: column;
  cursor: pointer;
  transition: background-color 0.3s var(--ease-out);
}

.disabled { 
  pointer-events: none;
  opacity: 0.5;
}

.icon {
  width: 128px;
  height: 128px;
  box-sizing: border-box;
  fill: var(--turq);
}

.icon.box {
  padding: 4px;
  border: 1px solid var(--white);
  border-radius: 8px;
}

#main-container:hover {
  background-color: var(--turq);
}

#main-container .icon {
  transition: fill 0.6s var(--ease-out);
}

#main-container:hover .icon {
  fill: var(--white);
}

#click-to-download {
  height: 1em;
  letter-spacing: 3px;
}

#click-to-download:after {
  content: "(CLICK TO DOWNLOAD)";
  font-size: 12px;
  display: block;
  opacity: 0;
  transform: translate3d(0, 4px, 0);
  transition: all 0.1s var(--ease-out) 0s;
}

#main-container:hover #click-to-download:after {
  opacity: 1.0;
  transform: translate3d(0, -2px, 0);
  transition: all 0.4s var(--ease-out) 1s;
}

#login-container {
  width: 100%;
  background-color: var(--turq);
  height: 100%;
  padding: 16px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-panel {
  background-color: var(--white);
  color: var(--d-grey);
  min-width: 250px;
  width: 33%;
  max-width: 480px;
  padding: 16px;
  box-shadow: var(--standard-box-shadow);
  flex-direction: column;
  display: flex;
  align-content: stretch;
}

.form-prompt {
  flex-grow: 1;
  width: 100%;
  margin: 0;
  margin-bottom: 8px;
}

.form-label {
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
}

.form-input {
  width: 100%;
  min-height: 46px;
  font-size: 16px;
  border-radius: 3px;
  background-color: var(--white);
  line-height: 20px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid var(--lt-grey);
  outline: none;
  box-shadow: var(--slt-grey);
  padding: 2px 0.5em;
}

.form-button {
  --bg-col: var(--turq);
  --fg-col: white;
  background-color: var(--bg-col);
  color: white;
  width: 100%;
  border-radius: 3px;
  height: 50px;
  border: none;
  font-size: 18px;
  font-stretch: 100%;
  font-weight: 100;
  line-height: 24px;
  cursor: pointer;
  transition: .2s;
}

.form-button:hover {
  --bg-col: var(--d-turq);
}

.form-button.cancel {
  --bg-col: transparent;
  color: var(--red);
  border: 1px solid var(--red);
}

.form-button.cancel:hover {
  filter: brightness(0.5) saturate(1.8);
}

.login-button {
  margin-top: 16px;
}

.login-sign-up {
  color: var(--black);
}

.login-sign-up:hover {
  cursor: pointer;
  color: var(--d-blue);
  text-decoration: underline;
}

dd.invalid-reasons {
  margin: 4px 0 0 8px;
}

dd.invalid-reasons > p {
  margin: 0;
  color: var(--red);
  font-size: 11px;
}

.notifications {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 400px;
  filter: drop-shadow(0 0 8px rgba(0,0,0,0.3));
  padding: 4px;
  z-index: 200;
}

.notification {
  margin-top: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
  box-sizing: border-box;
}

.notification .wrapper {
  --tint: transparent;
  background-color: var(--white);
  padding: 8px;
  min-height: 64px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  position: relative;
  transition: all 0.1s;
}

.notification .wrapper::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background-color: var(--tint);
  opacity: 0.3;
}

.notification.info .wrapper {
  --tint: var(--lt-blue);
}

.notification.warn .wrapper {
  --tint: var(--lt-yellow);
}

.notification.severe .wrapper {
  --tint: var(--red);
}

.notification.diabolical .wrapper {
  --tint: var(--plum);
}

.notification.fappy .wrapper {
  --tint: var(--turq);
}

.notification .wrapper:hover {
  filter: brightness(0.95) saturate(1.8);
  cursor: pointer;
}

.notification .wrapper .title {
  height: 1.5em;
  position: relative;
  z-index: 100;
}

.notification .wrapper .content {
  flex: 1;
  padding-left: 8px;
  position: relative;
  z-index: 100;
}

.notification-enter {
  margin-top: 0;
}

.notification-enter-active, .notification-exit {
  margin-top: 4px;
}

.notification-enter-active {
  transition: all 0.4s var(--ease-out), margin-top 0.2s;
}

.notification-exit-active {
  margin-top: 0;
  transition: all 0.4s var(--ease-out), margin-top 0.2s 0.2s;
}

.blur {
  filter: blur(4px);
}

.wrapper.blur {
  pointer-events: none;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.overlay > .panel {
  background-color: var(--white);
  padding: 8px;
  box-shadow: var(--standard-box-shadow);
}

.overlay.overlay-enter > .panel {
  transform: translate3d(0, -8px, 0);
}

.overlay.overlay-enter-active > .panel {
  transform: translate3d(0, 0, 0);
  transition: all 0.4s var(--ease-out);
}

.overlay.overlay-exit-active > .panel {
  transform: translate3d(0, -8px, 0);
  transition: all 0.4s var(--ease-out);
}

.overlay.overlay-enter {
  opacity: 0;
}

.overlay.overlay-enter-active {
  opacity: 1;
  transition: all 0.4s var(--ease-out);
}

.overlay.overlay-exit-active {
  opacity: 0;
  transition: all 0.4s var(--ease-out);
}

.grid-form {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 4px;
  align-items: center;
}

.grid-form .form-label {
  text-align: right;
  margin-right: 4px;
}

.grid-form div.form-input {
  display: flex;
  align-items: center;
}

.flex-bar {
  margin-top: 24px;
  display: flex;
  position: relative;
  justify-content: stretch;
  align-items: center;
}

.flex-bar > * {
  margin: 0 2px;
}

.flex-bar > *:first-child {
  margin-left: 0;
}

.flex-bar > *:last-child {
  margin-right: 0;
}
