#main-container {
  width: 100%;
  background-color: var(--white);
  color: var(--white);
  text-align: center;
  height: 224px;
  font-size: 24px;
  font-weight: 100;
  flex-direction: column;
  cursor: pointer;
  transition: background-color 0.3s var(--ease-out);
}

.icon {
  width: 128px;
  height: 128px;
  box-sizing: border-box;
  fill: var(--turq);
}

.icon.box {
  padding: 4px;
  border: 1px solid var(--white);
  border-radius: 8px;
}

#main-container:hover {
  background-color: var(--turq);
}

#main-container .icon {
  transition: fill 0.6s var(--ease-out);
}

#main-container:hover .icon {
  fill: var(--white);
}

#click-to-download {
  height: 1em;
  letter-spacing: 3px;
}

#click-to-download:after {
  content: "(CLICK TO DOWNLOAD)";
  font-size: 12px;
  display: block;
  opacity: 0;
  transform: translate3d(0, 4px, 0);
  transition: all 0.1s var(--ease-out) 0s;
}

#main-container:hover #click-to-download:after {
  opacity: 1.0;
  transform: translate3d(0, -2px, 0);
  transition: all 0.4s var(--ease-out) 1s;
}

#login-container {
  width: 100%;
  background-color: var(--turq);
  height: 100%;
  padding: 16px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-panel {
  background-color: var(--white);
  color: var(--d-grey);
  min-width: 250px;
  width: 33%;
  max-width: 480px;
  padding: 16px;
  border-radius: 8px;
  box-shadow: var(--standard-box-shadow);
  flex-direction: column;
  display: flex;
  align-content: stretch;
}

.form-prompt {
  flex-grow: 1;
  width: 100%;
}

.form-label {
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
}

.form-input {
  width: 100%;
  min-height: 46px;
  font-size: 16px;
  border-radius: 3px;
  background-color: var(--white);
  line-height: 20px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid var(--lt-grey);
  outline: none;
  box-shadow: var(--slt-grey);
  padding: 2px 0.5em;
}

.form-button {
  width: 100%;
  border-radius: 3px;
  height: 50px;
  border: none;
  font-size: 18px;
  font-stretch: 100%;
  font-weight: 100;
  line-height: 24px;
  cursor: pointer;
  transition: .2s;
}

.form-button:hover {
  background-color: var(--d-turq);
}

.login-button {
  margin-top: 16px;
  background-color: var(--turq);
  color: var(--white);
}

.LoginSignUpEl:hover {
  color: var(--black);
}

.LoginSignUpEl:hover {
  cursor: pointer;
  color: var(--d-blue);
  text-decoration: underline;
}
