.icon {
  --icon-size: 128px;
  --icon-col: var(--turq);
  width: var(--icon-size);
  height: var(--icon-size);
  box-sizing: border-box;
  fill: var(--icon-col);
}

.icon * {
  vector-effect: non-scaling-stroke;
}

.icon.box {
  padding: 4px;
  border: 1px solid var(--white);
  border-radius: 8px;
}

.icon.medium {
  --icon-size: 64px;
}

.icon.small {
  --icon-size: 32px;
}

.icon.tiny {
  --icon-size: 16px;
}

.icon.red {
  --icon-col: var(--red);
}

.icon.outline-only {
  fill: none;
  stroke: var(--icon-col);
  stroke-width: 1.5px;
}

.toolbar-item {
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  position: relative;
  transition: all 0.1s;
  margin: 2px;
  cursor: pointer;
}

.toolbar-item.no-flex {
  flex: unset;
}

.toolbar-button {
  --button-col: var(--turq);
  background-color: var(--button-col);
  transition: all 0.1s;
}

.toolbar-button .icon {
  --icon-col: var(--white);
  --icon-size: 60%;
}

.toolbar-button.outline-only {
  background-color: unset;
  /* border: 1px solid var(--button-col); */
}

.toolbar-button.outline-only .icon {
  --icon-col: var(--button-col);
}

.toolbar-button.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 100%;
}

.toolbar-button:hover {
  filter: brightness(0.65) saturate(1.8);
}

.blur {
  filter: blur(4px);
}

.wrapper.blur {
  pointer-events: none;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.overlay > .panel {
  background-color: var(--white);
  padding: 8px;
  box-shadow: var(--standard-box-shadow);
}

.overlay.overlay-enter > .panel {
  transform: translate3d(0, -8px, 0);
}

.overlay.overlay-enter-active > .panel {
  transform: translate3d(0, 0, 0);
  transition: all 0.4s var(--ease-out);
}

.overlay.overlay-exit-active > .panel {
  transform: translate3d(0, -8px, 0);
  transition: all 0.4s var(--ease-out);
}

.overlay.overlay-enter {
  opacity: 0;
}

.overlay.overlay-enter-active {
  opacity: 1;
  transition: all 0.4s var(--ease-out);
}

.overlay.overlay-exit-active {
  opacity: 0;
  transition: all 0.4s var(--ease-out);
}

.grid-form {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 4px;
  align-items: center;
  margin: 24px 0;
}

.grid-form .form-label {
  text-align: right;
  margin-right: 4px;
}

.grid-form div.form-input {
  display: flex;
  align-items: center;
  position: relative;
}

.form-button {
  --bg-col: var(--turq);
  --fg-col: white;
  background-color: var(--bg-col);
  color: white;
  flex: 1 1 auto;
  border-radius: 3px;
  height: 50px;
  border: none;
  font-size: 18px;
  font-stretch: 100%;
  font-weight: 100;
  cursor: pointer;
  transition: all 0.1s;
}

div.form-button {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.form-button:hover {
  --bg-col: var(--d-turq);
}

.form-button.cancel {
  --bg-col: transparent;
  color: var(--red);
  border: 1px solid var(--red);
}

.form-button.cancel:hover {
  color: var(--d-red);
  border: 1px solid var(--d-red);
}

.form-button.red {
  --bg-col: var(--red);
  color: white;
}

.form-button.red:hover {
  --bg-col: var(--d-red);
}

.form-button.square {
  width: 50px;
  flex: unset;
}

.form-button .icon {
  --icon-size: 1.1em; 
}

.flex-bar {
  display: flex;
  position: relative;
  justify-content: stretch;
  align-items: center;
}

.flex-bar > * {
  margin: 0 2px;
}

.flex-bar > *:first-child {
  margin-left: 0;
}

.flex-bar > *:last-child {
  margin-right: 0;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted var(--black)
}

.tooltip .tooltip-text  {
  visibility: hidden;
  width: 120px;
  background-color: var(--d-grey);
  color: var(--white);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--d-grey) transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.copiable svg.copy-icon {
  position: absolute;
  right: 0;
  top: 0;
  height: 1em;
  width: 1em;
  pointer-events: none;
  transform: translate3d(2px, 0, 0);
  opacity: 0;
  transition: all 0.3s var(--ease-out);
}

.copiable:hover svg.copy-icon {
  transform: translate3d(-1px, 0, 0);
  opacity: 1;
}

.form-input.copiable.disabled {
  pointer-events: unset;
}

.form-input.copiable {
  cursor: pointer;
}

.form-input.copiable svg.copy-icon {
  height: 24px;
  width: 24px;
  top: 2px;
}
