:root {
  --slt-grey: rgb(240, 240, 240);
  --lt-grey-s: 200, 200, 200;
  --lt-grey: rgb(var(--lt-grey-s));
  --grey: rgb(150, 150, 150);
  --d-grey-s: 35, 40, 45;
  --d-grey: rgb(var(--d-grey-s));
  --lt-blue-s: 75, 136, 234;
  --lt-blue: rgb(var(--lt-blue-s));
  --d-blue: rgb(27, 69, 137);
  --lt-yellow-s: 236, 189, 7;
  --lt-yellow: rgb(var(--lt-yellow-s));
  --d-yellow: rgb(137, 116, 24);
  --lt-green-s: 114, 216, 67;
  --lt-green: rgb(var(--lt-green-s));
  --d-green: rgb(23, 109, 27);
  --red-s: 229, 44, 27;
  --red: rgb(var(--red-s));
  --green-s: 50, 130, 35;
  --green: rgb(var(--green-s));
  --gold-s: 173, 162, 36;
  --gold: rgb(var(--gold-s));
  --purp-s: 105, 56, 140;
  --purp: rgb(var(--purp-s));
  --plum-s: 140, 56, 137;
  --plum: rgb(var(--plum-s));
  --teal-s: 0, 128, 98;
  --teal: rgb(var(--plum-s));
  --turq-s: 8, 200, 181;
  --turq: rgb(var(--turq-s));
  --d-turq-s: 8, 170, 155;
  --d-turq: rgb(var(--d-turq-s));
  --white-s: 255, 255, 255;
  --white: rgb(var(--white-s));
  --black-s: 0, 0, 0;
  --black: rgb(var(--black-s));
  --menu-min-w: 256px;
  --timeline-width: 300px;
  --list-item-height: 32px;
  --hh: 84px;
  --ah: 24px;
  --srl: 10;
  --dps: 6px;
  --hdlr: 16px;
  --ease-out: cubic-bezier(0.17, 0.57, 0.43, 1);
  --icon-size: 16px;
  --standard-box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Lato', sans-serif;
}

* {
  user-select: none;
  -webkit-user-select: none;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body, html {
  background-color: var(--white);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 10pt;
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.frame-absolute {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#root {
  height: 100%;
}
